<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Algorithm Music</title>
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="static/css/reset.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,300italic,400italic,600,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <img src="static/img/logo.png" alt="Algorithm Music" class="logo">
  </header>
  <div class="content">
    <div class="play-pause">
      <h3 class="now-playing subtitle">Now playing...</h3>
      <h1 class="current-song title">Bach</h1>
      <a href="#" onClick="MIDIjs.play('static/bethlehem_du_kleine_stadt.xml.mid');">
        <button class="play">
          <img src="static/img/play.png" alt="Play">
        </button>
      </a>
      <a href="#" onClick="MIDIjs.stop();">
        <button class="pause">
          <img src="static/img/pause.png" alt="Pause">
        </button>
      </a>
    </div>
    <div class="uploads">
      <h1 class="title">Uploaded files</h1>
      {% for file in files %}
        <!--
        <li class="file"><a href="{{ file.url }}">{{ file.name }}</a></li>
        -->
        <li class="file">{{ file }}</li>
      {% endfor %}
    </div>
    <div class="upload">
      <h1 class="title">Upload MusicXML</h1>
      <form action="/upload" method="post" enctype="multipart/form-data" class="form">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
    </div>
    <div class="train">
      <h1 class="title">Train Configuration</h1>
      <form action="/train" method="post" enctype="multipart/form-data" class="form">
        <li class="file">Process name:<input type="text" name="processname"></li>
        <li class="file">Config name:<input type="text" name="configname"></li>
        <input type="submit">
      </form>
    </div>
    <div class="trainingprocesses">
      <h1 class="title">Training Processes</h1>
      {% for tp in trainingprocesses %}
        <li class="file"><a href="trainingprocesses/{{ tp }}">{{ tp }}</a></li>
      {% endfor %}
    </div>
    <div class="trainedconfigs">
      <h1 class="title">Trained Configurations</h1>
      {% for tc in trainedconfigs %}
        <li class="file">{{ tc }}</li>
      {% endfor %}
    </div>
    <div class="generatemusic">
      <h1 class="title">Generate Music</h1>
      <ul>
        {% for tc in trainedconfigs %}
          <li>
            <input type="radio" id={{tc}}> <label for="cbox" + {{tc}}>{{tc}}</label>
          </li>
        {% endfor %}
      </ul>
      <h2>Number of seconds</h2>
      <input type="text">
      <input type="submit" value="Generate">
    </div>
    <div class="generatedmusic">
      <h1 class="title">Generated Music</h1>
      <ul>
        {% for tm in trainedmusic %}
          <li>{{tm}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Scripts -->
  <script type="text/javascript" src="static/midi.js"></script>
</body>
</html>


