<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Algo Rhythm</title>
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="static/css/reset.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300,300italic,400italic,600,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class='header'>
    <img src="static/img/logo.svg" alt="Algo Rhythm" class="logo">
  </header>
  <div class="content">
    <!-- {% include 'components/music_player.html' %} -->
    {% include 'components/generated_music.html' %}
    {% include 'components/generation_process.html' %}
    {% include 'components/generate_music.html' %}
    {% include 'components/training_process.html' %}
    {% include 'components/train.html' %}
    {% include 'components/uploads.html' %}
    {% include 'components/upload.html' %}
  </div>

  <!-- Scripts -->
  <script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/midi.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>
