coverage==4.0.3
diff-match-patch==20121119
dj-database-url==0.3.0
Django==1.8.6
django-allauth==0.23.0
django-countries==3.4.1
django-debug-toolbar==1.4
django-filter==0.12.0
django-haystack==2.4.0
django-import-export==0.3.1
django-localflavor==1.2
django-rest-swagger==0.3.5
django-storages==1.1.8
django-widget-tweaks==1.4.1
djangorestframework==3.3.2
djdt-flamegraph==0.2.12
elasticsearch==1.7.0
Flask==0.10.1
Flask-SocketIO==2.2
futures==3.0.4
GDAL==1.11.3
gevent==1.1.0
greenlet==0.4.9
gunicorn==17.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
music21==2.2.1
numpy==1.22.0
oauthlib==1.0.3
psycopg2==2.6.1
python-dateutil==2.4.2
python-engineio==0.9.0
python-midi==0.2.4
python-openid==2.2.5
python-socketio==1.1
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.0
scipy==0.16.1
six==1.10.0
sqlparse==0.1.18
tablib==0.10.0
Theano==0.8.0.dev0
theano-lstm==0.0.15
tinys3==0.1.11
urllib3==1.26.5
virtualenv==14.0.6
Werkzeug==0.15.3
whitenoise==2.0.4
xmltodict==0.9.2
