<section class="section generate-music">
  <form action="/generate" method="post" enctype="multipart/form-data" class="form">
    <h1 class="title">Generate Music</h1>
    <h3 class="subtitle">Select a config</h3>
    <ul>
      {% for tc in trainedconfigs %}
        <li>
          <label>
            <input type="radio" name="config" value="{{tc}}">
            {{tc}}
          </label>
        </li>
      {% else %}
        <li class="config none">No configs available</li>
      {% endfor %}
    </ul>
    <h3 class="subtitle">Select song length (seconds)</h3>
    <input type="number" min="1" max="999">
    <h3 class="subtitle">Song name</h3>
    <input type="text" name="name">
    <input type="submit" value="Generate Song">
  </form>
</section>