<section class="section generated-music">
  <h1 class="title">Generated Songs</h1>
  {% if generatedmusic|length == 0 %}
    <div class="song none">No songs have been generated yet.</div>
  {% else %}
    <ul class="song-list">
        <li class="song header">
          <span class="cell icon"></span>
          <span class="cell name">Song Name</span>
          <span class="cell tempo">Tempo</span>
          <span class="cell length">Length</span>
        </li>
      {% for song in generatedmusic %}
        <li class="song" data-name="{{song.name}}">
          <span class="cell icon">
            <span class="play">▶</span>
            <span class="stop">■</span>
          </span>
          <span class="cell name">{{song.name}}</span>
          <span class="cell tempo">{{song.tempo}}</span>
          <span class="cell length">{{song.length}}</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>